<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Snow Predicitions</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#Win Count">Win Count <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
          <% years.forEach(function(year) { %>
            <li><a href="#<%= year %>"><%= year %></a></li>
          <% }) %>
          </ul>
        </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Win Count</h1>


    <!-- <img src="dist/assets/goose.jpg" class="img-responsive" alt="goose"> -->
          <div class="row placeholders">
          <% users.forEach(function(user, idx) { %>
            <b><%= user %></b>
            <% var count = 0; %>
            <% for (var i=0; i<winners.length; i++) { %>
              <% if (winners[i] && winners[i].name == user) count++ %>
            <% } %>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="10" style="width: <%= count %>0%;">
                <%= count %>
              </div>
            </div>

          <% }) %>
          </div>

          <% years.forEach(function(year) { %>
            <a name="<%= year %>"></a>
            <h1 class="page-header"><%= year %></h1>
            <% cities.forEach(function(city) { %>
            <% var winner; %>
            <h2 class="sub-header">
              <%=city%>
            </h2>
      
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Person</th>
                    <th>Guess</th>
                    <th>Actual</th>
                    <th>Diff (Days)</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <% guesses.forEach(function(guess) { %>
                  <% if (guess.year == year && guess.city == city) { %>
                    <tr>
                    <td><%= guess.name %></td>
                    <td><%= guess.date.getMonth() + 1 + '/' + guess.date.getDate() + '/' + guess.date.getFullYear() %></td>
                    <% var actual_or_none, diff; %>
                    <% actuals.forEach(function(actual) { %>
                      <% if (actual.city === guess.city && actual.year === guess.year) { %>
                        <% actual_or_none = actual.date %>
                      <% } %>
                    <% }) %>
                    <% if (actual_or_none === undefined) actual_or_none = 'N/A' %>
                    <% if (actual_or_none !== 'N/A') { %>
                      <td><%= actual_or_none.getMonth() + 1 + '/' + actual_or_none.getDate() + '/' + actual_or_none.getFullYear()  %></td>
                      <% diff = Math.round(Math.abs((actual_or_none - guess.date) / (1000 * 60 * 60 * 24))) %>
                      <td><%= diff %></td>
                    <% } else { %>
                      <td>N/A</td>
                      <td>N/A</td>
                    <% } %>
                    <td>
                      <form action='/delete_guess' method='post' class="form-inline" role="form">
                        <input type="hidden" name="name" value="<%= guess.name %>">
                        <input type="hidden" name="city" value="<%= guess.city %>">
                        <input type="hidden" name="year" value="<%= guess.year %>">
                        <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                      </form>
                    </td>
                  </tr>
                  <% } %>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% }) %>
          <% }) %>

        <h2 class="sub-header">Enter/Update Guess</h2>
          <form action='/upsert_guess' method='post' class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="exampleInputEmail2">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Location</label>
              <select class="form-control" id="city" name="city">
                <option>columbus</option>
                <option>south bend</option>
              </select>
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">date</label>
              <input type="text" class="form-control" id="date" name="date" placeholder="Guess">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Year</label>
              <select class="form-control" id="year" name="year">
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
              </select>
            </div>
            <div class="checkbox">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
